<div class="container about">
  <h1>About</h1>
  <h2>What is this sorcery?</h2>
  <p>It's a pretty way to browse GitHub without to use github.com</p>

  <h2>Why isn't it a native app?</h2>
  <p>
    Because started as something *I* wanted to use and it was just a little experiment using HTML and a cocoa wrapper. I think it could be useful for more people so I release it.
    Besides that it could be ported easily to many platforms. It just need a system-specific wrapper.
  </p>
  <p>It uses Sparkle so eventually this could become a native app.</p>

  <h2>Is it an official app?</h2>
  <p>No. Don't blame GitHub for my choices.</p>
</div>
