<div class="container marketing">
  <div class="logo"> <img src="/img/logo.png" alt="" /> </div>

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="span4">
      <img class="img-circle" data-src="holder.js/140x140">
      <h2>Merge all the things</h2>
      <p>
        GitHub changed the way people work with each other, so DashCat
        stands on a giant's shoulder. Fast and quick ways to diff files,
        check merge status and merge any given pull request.
      </p>
    </div><!-- /.span4 -->
    <div class="span4">
      <img class="img-circle" data-src="holder.js/140x140">
      <h2>Notifications</h2>
      <p>
        Getting that pull request and knowing your pending notifications
        it's really useful but going to your browser will end up browsing
        Facebook or Twitter. DashCat send system notifications with all the
        relevant info and you can check it without losing focus.
      </p>
    </div><!-- /.span4 -->
    <div class="span4">
      <img class="img-circle" data-src="holder.js/140x140">
      <h2>i18n</h2>
      <p>
        Code is for everyone, even if you don't speak english so the app can
        be easily translated in several languages without having to wait for
        GitHub itself.
      </p>
    </div><!-- /.span4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-right" src="/img/xcode_html5.png" width="400">
    <h2 class="featurette-heading">Native osx app. <span class="muted">Kind of.</span></h2>
    <p class="lead">
      HTML5 it's ready for heavylifting so insted of write an app per
      systems it's just a webapp wrapped in a Cocoa Application so it's
      pretty, fast and easily editable.
    </p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-left" src="/img/opensource.jpg" width="500">
    <h2 class="featurette-heading">Open Source. <span class="muted">Free as beer.</span></h2>
    <p class="lead">
      GitHub is the open source heaven, DashCat is a GitHub viewer then
      DashCat must be open source!. The only way to make this a really
      useful app is having great people contributing.
    </p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-right" src="/img/freehugs.jpg" width="500">
    <h2 class="featurette-heading">Designed to fill a gap. <span class="muted">Make everyone happy.</span></h2>
    <p class="lead">
      We <3 GitHub but we all know that it won't make everyone happy
      everyone wants different features, styles and functionalities. DashCat
      it's pure html so everyone can edit it, just clone it edit it and use
      it as you wish.
    </p>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->
</div><!-- /.container -->
