<div class="container marketing">
  <div class="logo"> <img src="/img/logo.png" alt="" /> </div>

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="span4">
      <img class="img-circle" data-src="holder.js/140x140">
      <h2>Combinar tot el</h2>
      <p>
        GitHub canviat la forma de treballar amb els altres, de manera que DashCat destaca a l'espatlla d'un gegant. Maneres ràpides i ràpides per fitxers diff, comprovi l'estat fusionar i combinar qualsevol sol · licitud d'extracció donat.
      </p>
    </div><!-- /.span4 -->
    <div class="span4">
      <img class="img-circle" data-src="holder.js/140x140">
      <h2>Notificacions</h2>
      <p>
        Aconseguir que la sol · licitud d'extracció i conèixer les seves notificacions pendents és molt útil, però acabarà el navegador de la navegació de Facebook o Twitter. DashCat enviar notificacions del sistema amb tota la informació pertinent i es pot comprovar sense perdre el focus.
      </p>
    </div><!-- /.span4 -->
    <div class="span4">
      <img class="img-circle" data-src="holder.js/140x140">
      <h2>i18n</h2>
      <p>
        El codi és per a tots, encara que no parla anglès pel que l'aplicació pot ser fàcilment tradu
        t en diversos idiomes sense haver d'esperar a GitHub si mateix.
      </p>
    </div><!-- /.span4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-right" src="/img/xcode_html5.png" width="400">
    <h2 class="featurette-heading">Nadiu d'aplicació OSX. <span class="muted"> Més o menys.</span></h2>
    <p class="lead">
      HTML5 està llest per heavylifting tan insted d'escriure una aplicació pels sistemes és només una aplicació de web embolicat en una aplicació Cocoa així que és bonic, ràpid i fàcilment editable.
    </p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-left" src="/img/opensource.jpg" width="500">
    <h2 class="featurette-heading">El codi obert. <span class="muted">Lliure com la cervesa.</span></h2>
    <p class="lead">
      GitHub és el cel de codi obert, DashCat és un visor de GitHub llavors DashCat ha de ser de codi obert!. L'única manera de fer d'això una aplicació realment útil és tenir gent gran contribuent.
    </p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-right" src="/img/freehugs.jpg" width="500">
    <h2 class="featurette-heading">Dissenyat per omplir un buit. <span class="muted">Fer feliços a tots.</span></h2>
    <p class="lead">
      Ens encanta GitHub, però tots sabem que no farà a tots feliços tothom vol diferents característiques, estils i funcionalitats. DashCat és html pur perquè tothom pugui editar, clonar és només editar i utilitzar-lo com vulgui.
    </p>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->
</div><!-- /.container -->
